<br><br><br><br><br>
<img src="/images/groupProjectLanding.gif" alt="LandingPic" /> 
<a href="/survey-list/add-survey" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Create Survey</a>