<br><br><br><br><br>
<div class="row">
    <!-- <div class="col-lg-6 ">
        <img src="/images/groupProjectLanding.gif" alt="LandingPic" /> 
    </div> -->
    <div class="welcome-messages col-lg-6 ">
      <p>Hello there!</p>
      <h4>Welcome to</h4>
        <h1>Pink Banana Survey</h1>
      <a href="/survey-list/add-survey" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Create Survey</a>
      <img src="/images/groupProjectLanding.gif" alt="LandingPic" /> 
    </div>
  </div>