<div class="flex-wrapper ">
    <div class="container" style="margin-top: 70px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
    <h1 style="text-align: center"><%= title %> </h1>
    
    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">66%</div>
          </div>
    <div class="form-group" style="padding-top:30px">
        <label for="startDate">Start date:</label><br>
        <input type="date" id="startDate" name="startDate">
        <br>
        <br>
        <label for="endDate">Expiration date:</label><br>
        <input type="date" id="endDate" name="endDate">
        <br>
        <br>
        <button type="submit" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Next</button>
    </div>
    </form>
</div>
</div>